<!DOCTYPE html>
<html class="transition-navbar-scroll top-navbar-xlarge bottom-footer" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= title %> </title>
  <%- include('style'); %>
</head>
<body>
  <%- include('navbar'); %>
 <div class="parallax page-section bg-blue-300">
    <div class="container parallax-layer" data-opacity="true">
      <div class="media media-grid v-middle">
        <div class="media-body">
          <h3 class="text-display-1 text-white margin-none"> <%= title %> </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-section">
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                 <ul class="list-group">
                   <li class="list-group-item">
                    <div class="media v-middle">
                      <div class="media-body">
                        <h4 class="text-headline margin-none">Change Password</h4>
                        <p class="text-subhead text-light">Change Password Details</p>
                      </div>
                     </div>
                    </li>
                  </ul>

                  <div class="panel-body paper-shadow relative" data-z="0.5">
                    

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<%- include('footer'); %> 
</body>
</html>