<!DOCTYPE html>
<html class="transition-navbar-scroll top-navbar-xlarge bottom-footer" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= title %> </title>
  <%- include('style'); %>
</head>
<body>
  <%- include('navbar'); %>
   <div class="parallax page-section bg-blue-300">
    <div class="container parallax-layer" data-opacity="true">
      <div class="media media-grid v-middle">
        <div class="media-body">
          <h3 class="text-display-1 text-white margin-none"> <%= title %> </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-section">
	      <div class="row">
            <div class="col-md-12 padd-lft0 padd-rgt0">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                          <div class="media v-middle">
                           <div class="media-body">
                            <h4 class="text-headline margin-none">Project</h4>
                            <p class="text-subhead text-light">Edit Project details</p>
                           </div>
                            <div class="media-right">
                              <a class="btn btn-success btn-sm btn-flat" href="/my-projects"><i class="fa fa-info-circle"></i> View Projects</a> 
                            </div> 
                          </div>
                        </li>
                    </ul>
                    <div class="panel-body buttons-spacing-vertical">
                          <form method="post" name="MainForm" id="mainForm" enctype='multipart/form-data' >
                                  <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="projectTitle">Project Name</label>
                                          <input type="text" value="<%= records.project_title %>"  class="form-control text-capitalize" id="projectTitle" name="ProjectTitle"  style="border: 1px solid #5c7399; border-left: 5px solid #5c7399; background-color: #fff;"  />
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="projectUrl">Project Url</label>
                                            <input type="text" value="<%= records.project_url %>" class="form-control" id="projectUrl" name="ProjectUrl"  style="border: 1px solid #5c7399; border-left: 5px solid #5c7399; background-color: #fff;"  />
                                          </div>
                                     </div>
                                     <div class="col-md-6">
                                       <div class="form-group">
                                        <label for="projectImage">Snapshot</label>
                                        <input type="file" name="ProjectImage" id="projectImage"/>
                                        </div>
                                      </div> 
                                      <input type="hidden" name="EditId" id="editId" value="<%= id %>">
                                      <div class="col-md-12">
                                         <div class="form-group">
                                          <div class="text-right">
                                            <button type="reset" class="btn btn-danger"><span>Reset</span></button>  
                                            <button type="button" id="btnEdit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
                                          </div>
                                         </div>
                                      </div>

                                  </div>
                                </form>  
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
  </div>
  <%- include('footer'); %> 
  <script src="/js/bootstrap-filestyle.js"></script>
  <script src="/jquery/projects.js"></script>
  <script>
    $('#projectImage').filestyle({
      buttonBefore : true,
      buttonName : 'btn-danger'
    });
  </script>   
</body>
</html>